abc1
[{"id":"87d5ee13.d224","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"439e46ea.853e78","type":"rpi-gpio out","z":"87d5ee13.d224","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":330,"y":200,"wires":[]},{"id":"c77e6773.cbc138","type":"inject","z":"87d5ee13.d224","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":160,"wires":[["439e46ea.853e78"]]},{"id":"d70cc9f5.197578","type":"inject","z":"87d5ee13.d224","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":240,"wires":[["439e46ea.853e78"]]},{"id":"a0ed3487.3fb808","type":"rpi-gpio in","z":"87d5ee13.d224","name":"button","pin":"7","intype":"tri","debounce":"25","read":false,"x":140,"y":100,"wires":[["439e46ea.853e78"]]}]