abc2
[{"id":"767ca26e.504c4c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a598fd8b.bfc56","type":"inject","z":"767ca26e.504c4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["685fb146.f843"]]},{"id":"685fb146.f843","type":"function","z":"767ca26e.504c4c","name":"Payload","func":"msg.headers={\n    deviceKey :\"FSe2y0pELSD4qjzq\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":180,"wires":[["91a0d390.208fb","5158d7a6.745688"]]},{"id":"91a0d390.208fb","type":"http request","z":"767ca26e.504c4c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DpQUAGQx/datachannels/puddingT/datapoints.csv","tls":"","x":340,"y":160,"wires":[["73828f76.1c818","46044b41.df2884"]]},{"id":"5158d7a6.745688","type":"http request","z":"767ca26e.504c4c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DpQUAGQx/datachannels/puddingH/datapoints.csv","tls":"","x":340,"y":220,"wires":[["73828f76.1c818","46044b41.df2884"]]},{"id":"73828f76.1c818","type":"http response","z":"767ca26e.504c4c","name":"","statusCode":"","headers":{},"x":530,"y":160,"wires":[]},{"id":"46044b41.df2884","type":"debug","z":"767ca26e.504c4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":300,"wires":[]}]