abc3
[{"id":"9e5f039b.0d59a","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"49997936.5b8408","type":"inject","z":"9e5f039b.0d59a","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":63,"wires":[["5cdafc97.21e6c4"]]},{"id":"5cdafc97.21e6c4","type":"function","z":"9e5f039b.0d59a","name":"Padload","func":"msg.headers={\n    deviceKey : \"FSe2y0pELSD4qjzq\"\n};\nmsg.payload = \"puddingT,,25.3\"\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":142,"wires":[["d2eb59fa.c2e9e8"]]},{"id":"d2eb59fa.c2e9e8","type":"http request","z":"9e5f039b.0d59a","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DpQUAGQx/datapoints.csv","tls":"","x":210,"y":253,"wires":[["48ed5472.b530ac","8aee59e5.070748"]]},{"id":"48ed5472.b530ac","type":"http response","z":"9e5f039b.0d59a","name":"","statusCode":"","headers":{},"x":390,"y":240,"wires":[]},{"id":"8aee59e5.070748","type":"debug","z":"9e5f039b.0d59a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":360,"wires":[]}]