abc4
[{"id":"6359e6cc.2afc98","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"92ba1eb9.492a2","type":"http in","z":"6359e6cc.2afc98","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":70,"y":160,"wires":[["b57b0d6f.50084"]]},{"id":"93a5a82b.c140d8","type":"http response","z":"6359e6cc.2afc98","name":"","statusCode":"","headers":{},"x":380,"y":180,"wires":[]},{"id":"16885e09.e96e02","type":"debug","z":"6359e6cc.2afc98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":240,"wires":[]},{"id":"d96c8b83.c74428","type":"rpi-gpio in","z":"6359e6cc.2afc98","name":"GPIO4","pin":"7","intype":"tri","debounce":"25","read":true,"x":50,"y":220,"wires":[["ba2a74a9.50e508"]]},{"id":"ba2a74a9.50e508","type":"function","z":"6359e6cc.2afc98","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":220,"wires":[["16885e09.e96e02"]]},{"id":"b57b0d6f.50084","type":"function","z":"6359e6cc.2afc98","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\")\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["93a5a82b.c140d8","16885e09.e96e02"]]}]