abc5
[{"id":"332419cd.4c9e06","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"1b26d75c.82b499","type":"http in","z":"332419cd.4c9e06","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":60,"y":120,"wires":[["c8b26030.a6eae","93dfd1a8.6f9b5"]]},{"id":"93dfd1a8.6f9b5","type":"function","z":"332419cd.4c9e06","name":"Set to 1","func":"msg.payload = 1 ;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":160,"wires":[["355c75e4.6b29ca"]]},{"id":"355c75e4.6b29ca","type":"rpi-gpio out","z":"332419cd.4c9e06","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":220,"y":240,"wires":[]},{"id":"c8b26030.a6eae","type":"function","z":"332419cd.4c9e06","name":"Return Status","func":"msg.payload = \" GPIO set to HIGH \"\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":80,"wires":[["ee22a62d.27c078","14417bb2.2799d4"]]},{"id":"ee22a62d.27c078","type":"http response","z":"332419cd.4c9e06","name":"","statusCode":"","headers":{},"x":470,"y":100,"wires":[]},{"id":"14417bb2.2799d4","type":"debug","z":"332419cd.4c9e06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":300,"wires":[]},{"id":"e1df4cee.b02fa","type":"http in","z":"332419cd.4c9e06","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":70,"y":300,"wires":[["8da88c2b.ec7e6","d2a4263d.de7338"]]},{"id":"8da88c2b.ec7e6","type":"function","z":"332419cd.4c9e06","name":"clear to 0","func":"msg.payload = 0 ;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":340,"wires":[["355c75e4.6b29ca"]]},{"id":"d2a4263d.de7338","type":"function","z":"332419cd.4c9e06","name":"Return Status","func":"msg.payload = \" GPIO set to LOW \"\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":420,"wires":[["14417bb2.2799d4","ee22a62d.27c078"]]}]